<h1>Add user</h1>
{{#if msq}}
  <div>{{msq}}</div>
{{/if}}
<form method="post" action="/adduser" autocomplete="false">
  Name:<input type="text" name="name" /><br />
  Password:<input type="password" name="password" /><br />
  <button type="submit">submit</button><a href="/">back</a>
</form>